footer {
	padding: 0.75rem 2rem;
	text-align: center;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	border-top: 1px solid var(--nav-border-color);
	background-color: var(--footer-bg-color);
	color: var(--footer-text-color);
}

footer .text {
	flex: auto 1 1;
}

footer .social-media {
	flex: 35% 0 1;
}
footer .social-media a.link {
	padding: 0 0.2rem;
	text-decoration: none;
}
footer .social-media a.link img {
	width: 20px;
	height: auto;
}

@media only screen and (max-width: 550px) {
	footer {
		flex-wrap: wrap;
		gap: 0.5rem;
		padding: 0.5rem 2rem;
	}
	footer .social-media {
		flex: 100% 1 1;
	}
}