div.wrapper {
	display: grid;
	grid-template-areas:
		"nav"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
}

nav {
	grid-area: "nav";
}
main {
    padding: 1.5rem 1rem;
	position: relative;
	grid-area: "main";
}
footer {
	grid-area: "footer";
}