div.wrapper {
	display: grid;
	grid-template-areas:
		"nav"
		"main"
		"footer";
	grid-template-rows: var(--nav) 1fr auto;
	grid-template-columns: 1fr;
}

nav {
	grid-area: "nav";
}
main {
    padding: 1rem;
	grid-area: "main";
}
footer {
	grid-area: "footer";
}
