nav {
	background-color: var(--nav-bg-color);
	display: flex;
	align-items: center;
	padding: 0 2rem;
	flex-wrap: wrap;
	gap: 1rem;
	position: relative;
	justify-content: space-evenly;
	border-bottom: 1px solid var(--nav-border-color);
}

nav a {
	text-decoration: none;
	color: var(--nav-text-color);
}

nav .logo-container {
	flex: auto 0 0;
	padding: 0.75rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .navitems {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex: auto 0 0;
	align-self: flex-end;
	background-color: var(--bg-color);
	border: 1px solid var(--nav-border-color);
	border-bottom: none;
	border-radius: 12px 12px 0 0;
}
nav .navitems .item:first-child {
	border-top-left-radius: 12px;
}
nav .navitems .item:last-child {
	border-top-right-radius: 12px;
}

nav .navitems .item {
	flex: auto 1 1;
	padding: 0.75rem 1.25rem;
	display: flex;
	gap: 8px;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: 0.15s ease-in-out;
}
nav .navitems .item:hover,
nav .navitems .item.active {
	background-color: var(--nav-item-hover-style-color);
	color: var(--nav-item-hover-text-color);
}
nav .navitems .item span {
	flex: auto 1 1;
}
nav .navitems .item:hover svg,
nav .navitems .item.active svg {
	fill: var(--nav-item-hover-text-color);
	color: var(--nav-item-hover-text-color);
}
nav .navitems .item svg {
	width: calc(var(--nav-icons) / 2);
	height: calc(var(--nav-icons) / 2);
	fill: var(--style-color);
	color: var(--style-color);
}
nav #loginitems {
	margin-left: 0;
}

nav .logo-container .logo {
	padding: 0.25rem;
	max-width: var(--logo);
	max-height: var(--logo);
}
nav .logo-container .name {
	padding: 0.75rem;
	letter-spacing: 0.05rem;
	font-size: 17pt;
}

nav #hamburger {
	display: none;
	flex: auto 0 0;
	max-width: var(--logo);
	max-height: var(--logo); 
}

@media only screen and (max-width: 1160px) and (min-width: 800px) {
	nav .navitems .item span {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	nav {
		gap: 0;
	}
	nav .logo-container {
		flex: auto 1 1;
		justify-content: flex-start;
	}
	nav .logo-container .name {
		padding-top: 0;
		padding-bottom: 0;
	}
	nav #hamburger {
		display: flex;
	}
	nav .navitems {
		display: none;
	}
	nav .navitems.responsive {
		display: flex;
		flex: 100% 1 1;
		margin: 0 -2rem;
		width: 100%;
		min-width: max-content;
		border-radius: unset;
		border-bottom: inherit;
		flex-direction: column;
		z-index: 2;
	}	
	nav #loginitems {
		margin-left: -2rem;
	}
	nav .navitems .item span {
		text-align: left;
	}
	nav .navitems.responsive .item {
		font-size: 11pt;
		justify-content: flex-start;
		border-radius: unset !important;
		gap: 1rem;
		padding: 0.75rem 1.5rem;
	}
	:root {
		--logo: 35px;
	}
}	