nav {
	background-color: var(--nav-bg-color);
	display: flex;
	align-items: center;
	padding: 0 2rem;
	flex-wrap: wrap;
	gap: 5rem;
	position: relative;
	justify-content: center;
	border-bottom: 1px solid var(--nav-border-color);
}

nav a {
	text-decoration: none;
	color: var(--nav-text-color);
}

nav .logo-container {
	flex: auto 0 0;
	padding: 0.75rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .items {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex: auto 0 0;
	align-self: flex-end;
	background-color: var(--bg-color);
	border: 1px solid var(--nav-border-color);
	border-bottom: none;
	border-radius: 12px 12px 0 0;
}
nav .items .item:first-child {
	border-top-left-radius: 12px;
}
nav .items .item:last-child {
	border-top-right-radius: 12px;
}

nav .items .item {
	flex: auto 1 1;
	padding: 0.75rem 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: 0.15s ease-in-out;
}
nav .items .item:hover,
nav .items .item.active {
	background-color: var(--nav-item-hover-style-color);
	color: var(--nav-item-hover-text-color);
}

nav .logo-container .logo {
	padding: 0.25rem;
	max-width: var(--logo);
	max-height: var(--logo);
}
nav .logo-container .name {
	padding: 0.75rem;
	letter-spacing: 0.05rem;
	font-size: 16pt;
}

nav #hamburger {
	display: none;
	flex: auto 0 0;
	max-width: var(--logo);
	max-height: var(--logo); 
}

@media only screen and (max-width: 800px) {
	nav {
		gap: 0;
	}
	nav .logo-container {
		flex: auto 1 1;
		align-items: flex-start;
		justify-content: flex-start;
	}
	nav #hamburger {
		display: flex;
	}
	nav .items {
		display: none;
	}
	nav .items.responsive {
		display: flex;
		position: absolute;
		top: 100%;
		right: 0%;
		width: 100%;
		min-width: max-content;
		border-radius: unset;
		border-bottom: inherit;
		flex-direction: column;
		z-index: 2;
	}
	nav .items .item {
		justify-content: flex-start;
		border-radius: unset !important;
	}
}	