.plan {
    display: grid;
    margin: auto;
    width: auto;
    max-width: 1300px;

    grid-template-rows: auto repeat(3, auto);
    grid-template-columns: auto repeat(7, 1fr);

    grid-template-areas: 
    ".              mondayH tuesdayH wednesdayH thursdayH fridayH saturdayH sundayH"
    "headerMorning  mondayM tuesdayM wednesdayM thursdayM fridayM saturdayM sundayM"
    "headerDinner   mondayD tuesdayD wednesdayD thursdayD fridayD saturdayD sundayD"
    "headerEvening  mondayE tuesdayE wednesdayE thursdayE fridayE saturdayE sundayE";
}
.plan > .morning, 
.plan > .dinner, 
.plan > .evening {
    min-height: 100px;
}
.plan .day .time {
    display: none;
}

.plan > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    border-right: 1px solid rgba(0, 0, 0, 0.18);
    padding: 0.75rem;
}
.plan > .header {
    background-color: var(--nav-bg-color);
    font-weight: 700;
}
.plan > .header.current {
    color: var(--style-color);
}
.plan > .header.current::after {
    content: "";
    display: inline-block;
    background-image: url(../images/icons/blue-circle.svg);
    background-size: 100% 100%;
    height: 100%;
    width: auto;
    position: relative;
    padding-left: 2rem;
}
.plan div:nth-child(n + 29) {
    border-right: none;
}
.plan div:nth-child(4n) {
    border-bottom: none;
}

.plan .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.plan .time .text {
    flex: auto 1 1;
    text-align: left;
}
.plan .time .icon {
    flex: auto 0 0;
}

.plan .icon {
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 1050px)  {
    .plan > div {
        padding: 0.4rem;
    }
    .plan .time .text {
        display: none;
    }
}

@media only screen and (max-width: 800px)  {
    .plan {
        margin: -1.5rem -1rem;
    }
    .plan {
        grid-template-rows: repeat(38, auto);
        grid-template-columns: 1fr;
    
        grid-template-areas: 
        "mondayH"
        "mondayM"
        "mondayD"
        "mondayE"
        "tuesdayH"
        "tuesdayM"
        "tuesdayD"
        "tuesdayE"
        "wednesdayH"
        "wednesdayM"
        "wednesdayD"
        "wednesdayE"
        "thursdayH"
        "thursdayM"
        "thursdayD"
        "thursdayE"
        "fridayH"
        "fridayM"
        "fridayD"
        "fridayE"
        "saturdayH"
        "saturdayM"
        "saturdayD"
        "saturdayE"
        "sundayH"
        "sundayM"
        "sundayD"
        "sundayE";
    }
    .plan > .morning, 
    .plan > .dinner, 
    .plan > .evening {
        min-height: 70px;
        gap: 2rem;
    }
    .plan > div {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .plan div:first-child {
        display: none;
    }
    .plan .time {
        display: none;
    }
    .plan .header {
        position: sticky;
        top: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.18);
        justify-content: flex-start !important;
        font-size: 14pt;
        text-align: left;
        text-transform: uppercase;
    }
    .plan .day {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .plan .day .time {
        display: flex;
        flex: 100px 0 0;
        gap: 0.5rem;
        min-width: max-content;
    }
    .plan > div {
        padding: 0.75rem;
    }
    .plan .time .text {
        display: block;
    }
    .plan .day .medications {
        flex: 90% 1 1;
        text-align: left;
    }
}

@media only screen and (max-width: 400px) {
    .plan .day .time {
        flex: max-content 0 0;
    }
    .plan .day .time .text {
        display: none;
    }
}


/* Zeiten */
.time.morning {
    grid-area: headerMorning;
}
.time.dinner {
    grid-area: headerDinner;
}
.time.evening {
    grid-area: headerEvening;
}
/* Montag */
.monday.header {
    grid-area: mondayH;
}
.monday.morning {
    grid-area: mondayM;
} 
.monday.dinner {
    grid-area: mondayD;
}
.monday.evening {
    grid-area: mondayE;
}
/* Dienstag */
.tuesday.header {
    grid-area: tuesdayH;
}
.tuesday.morning {
    grid-area: tuesdayM;
} 
.tuesday.dinner {
    grid-area: tuesdayD;
}
.tuesday.evening {
    grid-area: tuesdayE;
}
/* Mittwoch */
.wednesday.header {
    grid-area: wednesdayH;
}
.wednesday.morning {
    grid-area: wednesdayM;
} 
.wednesday.dinner {
    grid-area: wednesdayD;
}
.wednesday.evening {
    grid-area: wednesdayE;
}
/* Donnerstag */
.thursday.header {
    grid-area: thursdayH;
}
.thursday.morning {
    grid-area: thursdayM;
} 
.thursday.dinner {
    grid-area: thursdayD;
}
.thursday.evening {
    grid-area: thursdayE;
}
/* Freitag */
.friday.header {
    grid-area: fridayH;
}
.friday.morning {
    grid-area: fridayM;
} 
.friday.dinner {
    grid-area: fridayD;
}
.friday.evening {
    grid-area: fridayE;
}
/* Samstag */
.saturday.header {
    grid-area: saturdayH;
}
.saturday.morning {
    grid-area: saturdayM;
} 
.saturday.dinner {
    grid-area: saturdayD;
}
.saturday.evening {
    grid-area: saturdayE;
}
/* Sonntag */
.sunday.header {
    grid-area: sundayH;
}
.sunday.morning {
    grid-area: sundayM;
} 
.sunday.dinner {
    grid-area: sundayD;
}
.sunday.evening {
    grid-area: sundayE;
}