:root {
	/** Sizes **/
	--logo: 55px;
	--nav: 85px;

	/** Colors **/
	--bg-color: #FFFDFA;
	--text-color: #131313;
	--style-color: #1D58E9;
	
	/* Nav */
	--nav-bg-color: #F6F7F8;
	--nav-border-color: #c9c9c9;
	--nav-text-color: var(--text-color);
	--nav-item-hover-style-color: var(--style-color);
	--nav-item-hover-text-color: #ffffff;

	/* Footer */
	--footer-bg-color: #F6F7F8;
	--footer-border-color: #c9c9c9;
	--footer-text-color: #464646;
}
