.container {
    max-width: 520px;
}

.back {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
}
.back button {
    padding: 0.25rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back img {
    width: auto;
    height: 25px;
    margin-right: 0.5rem;
}