.container {
    max-width: 500px;
}

#text {
    resize: vertical;
    min-height: 175px;
}

@media only screen and (max-width: 550px) {
    .row {
        flex-direction: column;
        gap: 0rem;
    }
}